<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <div class="container bg-light" style=" width: 20rem;">
        <div class="card" style=" width: 18rem;">
            <h1>Welcome to Add a New Car!</h1>
            <a href='/caritems/new'>Add a new item</a>
            <a href='/caritems'>See list of Car You Add</a>
        </div>
    </div>

</body>

</html>